<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {

                                <div class="btn-group">
                                    <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Preferências
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" style="background-color: #ffffff;" href="@Url.Action("getPreferencias", "ReceitaView")">Ver</a>
                                        <a class="dropdown-item" style="background-color: #ffffff;" href="@Url.Action("getIngredientes", "ReceitaView")">Editar</a>
                                    </div>
                                </div>

                                <a asp-controller="ReceitaView" asp-action="getFavoritos" class="btn btn-light">Favoritos</a>

                                <a asp-controller="ReceitaView" asp-action="getHistorico" class="btn btn-light">Histórico</a>

                                <a asp-controller="ReceitaView" asp-action="ListaCompras"class="btn btn-light">Lista de compras</a>

                                <a asp-controller="UtilizadorView" asp-action="Logout">Olá @User.Identity.Name (Sign Out)</a>
                            }
                            else
                            {
                                <a asp-controller="UtilizadorView" asp-action="LoginUtilizador" class="btn btn-primary">
                                    Login
                                </a>
                                <a asp-controller="UtilizadorView" asp-action="RegistarUtilizador" class="btn btn-secondary">
                                    Registar
                                </a>
                            }

                        </li>
                        </ul>
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="ReceitaView" asp-action="getReceitas">Catálogo</a>
                        </li>
                        @if (string.Equals(User.Identity.Name, "admin@gmail.com") == true)
                        {
                            <li class="btn-group">
                                <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Registar
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" style="background-color: #ffffff;" href="@Url.Action("RegistarAcao", "ReceitaView")">Ação</a>
                                    <a class="dropdown-item" style="background-color: #ffffff;" href="@Url.Action("RegistarIngrediente", "ReceitaView")">Ingrediente</a>
                                    <a class="dropdown-item" style="background-color: #ffffff;" href="@Url.Action("RegistarReceita", "ReceitaView")">Receita</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - WebChef
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
