@model WebChef.Models.Passo[]

@{
    ViewData["Title"] = "ConfecionaReceita";
}

<!DOCTYPE HTML>
@if (@ViewBag.duracao != null)
{
    <html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            p {
                text-align: center;
                font-size: 60px;
                margin-top: 0px;
            }
        </style>
    </head>
    <body>

        <p id="demo"></p>

        <script>
            var countDownDate = @ViewBag.duracao;
            var hours = Math.floor((countDownDate % (60 * 60 * 24)) / (60 * 60));
            var minutes = Math.floor((countDownDate % (60 * 60)) / (60));
            var seconds = Math.floor((countDownDate % 60));
            document.getElementById("demo").innerHTML = hours + ":" + minutes + ":" + seconds;
            var y = 0;
            var x;

            function startTime() {


                // Atualizador o contador a cada segundo
                x = setInterval(function () {
                    hours = Math.floor((countDownDate % (60 * 60 * 24)) / (60 * 60));
                    minutes = Math.floor((countDownDate % (60 * 60)) / (60));
                    seconds = Math.floor((countDownDate % 60));
                    // O output é um valor com o id "demo"
                    document.getElementById("demo").innerHTML = hours + ":" + minutes + ":" + seconds;

                    // Quando o temporizador acaba escreve Terminou!
                    if (countDownDate < 0) {
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "Terminou!";
                    } else countDownDate--
                }, 1000);

            }

            /**/</script>
        <div class="col text-center">
            <button class="btn btn-primary" onclick="startTime()">Start</button>
            <button class="btn btn-primary" onclick="clearInterval(x)">Stop</button>
        </div>


    </body>
</html>
}

<h1>@Model[@ViewBag.passo - 1].descricao</h1>


<h5>@Model[@ViewBag.passo - 1].Acao.descricao</h5>


@if(ViewBag.link != null)
{
    <iframe width="560" height="315" src=@ViewBag.link frameborder="0" allowfullscreen></iframe>
}

<div class="row">
    @foreach (var ing in @Model[@ViewBag.passo - 1].ingredientes)
    {

        <div class="col-md-2">
            <figure class="img my-4">
                <img class="figure-img img-fluid rounded" src=@Url.Content(ing.imagem) style="width: 150px; height: 150px;">
                <figcaption class="figure-caption">@ing.designacao (@ing.quantidade)</figcaption>
            </figure>
        </div>

    }
</div>

<div class="btn-group my-4" role="group">
    @if (@ViewBag.passo > 1)
    {
        <a asp-controller="ReceitaView" asp-action="ConfecionaReceita" asp-route-id=@ViewBag.id asp-route-passo=@ViewBag.anterior class="btn btn-secondary">
            Anterior
        </a>
    }

    @if (@ViewBag.passo + 1 <= @ViewBag.tamanho)
    {
        <a asp-controller="ReceitaView" asp-action="ConfecionaReceita" asp-route-id=@ViewBag.id asp-route-passo=@ViewBag.seguinte class="btn btn-secondary">
            Seguinte
        </a>
    }

    @if (@ViewBag.passo == @ViewBag.tamanho)
    {
        <a asp-controller="ReceitaView" asp-action="ConcluirReceita" asp-route-id=@ViewBag.id class="btn btn-primary">
            Concluir
        </a>
    }
</div>
