@model WebChef.Models.Receita
@{
    ViewData["Title"] = "Informação Receita";
}

<h1>Receita</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.informacao_nutricional)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.informacao_nutricional)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.duracao_prevista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.duracao_prevista)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.link_ajuda)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.link_ajuda)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.imagem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.imagem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nr_pessoas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nr_pessoas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dificuldade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dificuldade)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.categoria)
        </dd>

        
    </dl>
</div>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        if (ViewBag.isFavorita == false)
        {
            <a asp-controller="UtilizadorView" asp-action="AddReceitaFavoritos" asp-route-id=@Model.id_receita class="btn btn-secondary">
                Adicionar Receita a Favoritos
            </a>
        }
        else
        {
            <a asp-controller="UtilizadorView" asp-action="RmReceitaFavoritos" asp-route-id=@Model.id_receita class="btn btn-secondary">
                Remover Receita de Favoritos
            </a>
        }


        if (ViewBag.isSemanal == false)
        {
            <a asp-controller="ReceitaView" asp-action="AddReceitaSemana" asp-route-id=@Model.id_receita class="btn btn-secondary">
                Adicionar Receita a Ementa Semanal
            </a>
        }
        else
        {
            <a asp-controller="ReceitaView" asp-action="RmReceitaSemana" asp-route-id=@Model.id_receita class="btn btn-secondary">
                Remover Receita de Ementa Semanal
            </a>
        }


    }
</div>
