@model WebChef.Models.Receita
@{
    ViewData["Title"] = "Informação Receita";
}

<h1>@Html.DisplayFor(model => model.nome)</h1>




@if (Model.link_ajuda != null)
{
    <iframe width="500" height="280" src=@Model.link_ajuda frameborder="0" allowfullscreen align="right"></iframe>
}


<div class="thumbnail">
    <img src=@Url.Content(Model.imagem) alt="Imagem Receita" width="500" height="280">
</div>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.duracao_prevista)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.duracao_prevista_display)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nr_pessoas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nr_pessoas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.dificuldade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dificuldade)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.categoria)
        </dd>
        @if (Model.receitaUtilizador != null && Model.receitaUtilizador.data_realizacao != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.receitaUtilizador.data_realizacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.receitaUtilizador.data_realizacao)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.receitaUtilizador.avaliacao_dificuldade)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.receitaUtilizador.avaliacao_dificuldade)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.receitaUtilizador.classificacao)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.receitaUtilizador.classificacao)
            </dd>
        }
        @if (Model.receitaUtilizador != null && Model.receitaUtilizador.anotacao != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.receitaUtilizador.anotacao)
            </dt>
            <dd class="col-sm-2">
                @Html.DisplayFor(model => model.receitaUtilizador.anotacao)
            </dd>
        }
        </dl>
</div>

<table class="table">
    <tr bgcolor='@("#EEE")'>
        <th>
            @Html.DisplayNameFor(model => model.energia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lipidos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saturados)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hidratosCarbono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acucares)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fibras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.proteinas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sal)
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayFor(model => model.energia)
        </th>
        <th>
            @Html.DisplayFor(model => model.lipidos)
        </th>
        <th>
            @Html.DisplayFor(model => model.saturados)
        </th>
        <th>
            @Html.DisplayFor(model => model.hidratosCarbono)
        </th>
        <th>
            @Html.DisplayFor(model => model.acucares)
        </th>
        <th>
            @Html.DisplayFor(model => model.fibras)
        </th>
        <th>
            @Html.DisplayFor(model => model.proteinas)
        </th>
        <th>
            @Html.DisplayFor(model => model.sal)
        </th>
    </tr>
</table>



@for (int i = 0; i < Model.ingredientes.Length; i++)
{
    <div class="col-md-4" style="float:left; display: inline-block; ">
        <div class="thumbnail">
            <img src=@Url.Content(Model.ingredientes[i].imagem) height="60" width="60">

            <a asp-controller="ReceitaView" asp-action="GetIngrediente" asp-route-receita=@Model.id_receita asp-route-id=@Model.ingredientes[i].id_ingrediente>
                @Model.ingredientes[i].designacao
                (@Model.ingredientes[i].quantidade)
            </a>
        </div>
    </div>

}


<div class="btn-group my-4" role="group">
    @if (User.Identity.IsAuthenticated)
    {
        if (ViewBag.isFavorita == false)
        {
            <a asp-controller="UtilizadorView" asp-action="AddReceitaFavoritos" asp-route-id=@Model.id_receita class="btn btn-secondary">
                Adicionar Receita a Favoritos
            </a>
        }
        else
        {
            <a asp-controller="UtilizadorView" asp-action="RmReceitaFavoritos" asp-route-id=@Model.id_receita class="btn btn-secondary">
                Remover Receita de Favoritos
            </a>
        }


        <a asp-controller="ReceitaView" asp-action="AddReceitaSemana" asp-route-id=@Model.id_receita class="btn btn-secondary">
            Adicionar Receita a Ementa Semanal
        </a>

        <a asp-controller="ReceitaView" asp-action="RmReceitaSemana" asp-route-id=@Model.id_receita class="btn btn-secondary">
            Remover Receita de Ementa Semanal
        </a>

        <a asp-controller="ReceitaView" asp-action="ConfecionaReceita" asp-route-id=@Model.id_receita asp-route-passo=1 class="btn btn-primary">
            Confecionar Receita
        </a>


    }
</div>

