@model IEnumerable<WebChef.Models.Receita>

@{
    ViewData["Title"] = "Catálogo de Receitas";
}

<h1>Receitas</h1>


<div class="row">
    <div class="col-md-4">
        <form id="form1" action="/ReceitaView/getReceitas/filtro">

            <select name="opcao">
                <option value="1">Duração da Receita</option>
                <option value="2">Calorias</option>
                <option value="3">Número de Pessoas</option>
            </select>
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <div class="col-md-4">
        <form id="form2" action="/ReceitaView/getReceitasComIngrediente">

            <select name="ing">
                @foreach (var ing in ViewBag.ingredientes)
                {
                    <option value=@ing.id_ingrediente>@ing.designacao</option>
                }
            </select>
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <div class="col-md-4">
        <a asp-controller="ReceitaView" asp-action="SugerirReceitas" class="btn btn-secondary">
            Sugestão de Receitas
        </a>
    </div>
</div>
<div class="col-xs-12" style="height:50px;"></div>
<table class="table">
    <tr bgcolor='@("#EEE")'>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.energia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duracao_prevista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.link_ajuda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nr_pessoas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dificuldade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.categoria)
        </th>
    </tr>

    @foreach (var receita in Model)
    {
        <tr>
            <td class="text-center"><img class="img-fluid" src=@Url.Content(receita.imagem) /></td>
            <td>
                <a asp-controller="ReceitaView" asp-action="getReceita" asp-route-id=@receita.id_receita>
                    @Html.DisplayFor(modelreceita => receita.nome)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelreceita => receita.descricao)
            </td>
            <td>
                @receita.informacao_nutricional.Split("|")[0]
            </td>
            <td>
                @Html.DisplayFor(modelreceita => receita.duracao_prevista_display)
            </td>
            <td>
                <a href=@receita.link_ajuda>Link do vídeo</a>
            </td>
            <td>
                @Html.DisplayFor(modelreceita => receita.nr_pessoas)
            </td>
            <td>
                @Html.DisplayFor(modelreceita => receita.dificuldade)
            </td>
            <td>
                @Html.DisplayFor(modelreceita => receita.categoria)
            </td>

        </tr>
    }

</table>
